/* Initial page layout */
#playStuff {
    height: 50px;
    width: 30%;
    margin: 0 auto; 
    background-color: white;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
}

#pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 15vh;
    width: 805px;
    margin: 0 auto; 
    border-radius: 25px;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
}

#slider {
    position: absolute;
    height: 100px;
    width: 3px;
    background-color: red;
    position: absolute;
    left: -100px;
    top: -100px;
    z-index: 100;
}
/* shit that gets generated */
.songPart {
    width: 800px;
    height: 120px;
    float: left;
    background-color: white;
}

.bpmDisplay {
    width: 100px;
    text-align: center;
    height: 20px;
}

.actualPartWrapper {
    width:100%;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.notesContainer {
    height: 80px;
    width: 100%;
    background-color: white;
    display: table;
    padding-top: 8px;
}

.row {
    display:table-row;
}

.column {
    height: 20px;
    text-align: center;
    position: relative;
    float: left;
}

.column:before {
    content:"";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50%;
    width: 100%;
    border: 1px solid black;
}

.note {
    position: relative;
    background-color: white;
    width: 20px;
    margin: 0 auto;
    z-index: 2;
    margin-top: 2px;
}